:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196F3;
  --color-icons: #AFB1B8;
  --main-font-weight: 700;
  --secondary-font-weight: 400;
  --text-color: #757575;
  --title-color: #212121;
  --primary-background-color: #f5f4fa;
  --primery-white-colour:#FFFFFF;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-port: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --main-duration: 250ms;
  --footer-main-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--title-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
  margin-right: 93px;
}

.logo-style {
  color: var(--accent-color);
}

.menu__link {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link.current {
  color: var(--accent-color);
}

.menu__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  top: 76px;
  display: block;
  background: #2196F3;
  border-radius: 2px;
}

.contact {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.svg-mail-icon,
.svg-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact__tel {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.contact__tel:focus .svg-tel-icon,
.contact__tel:focus .svg-tel-icon {
  fill: var(--accent-color);
}

.contact__tel:hover, .contact__tel:focus {
  color: var(--accent-color);
}

.contact__mail:hover .svg-mail-icon,
.contact__mail:focus .svg-mail-icon {
  fill: var(--accent-color);
}

.contact__mail:hover, .contact__mail:focus {
  color: var(--accent-color);
}

.link,
.svg-mail-icon,
.modal-btn,
.social-icon,
.footer-social-icon,
.social-link,
.my-client-icon {
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: var(--accent-color);
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.8;
  font-size: 16px;
  font-weight: bold;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188CE8;
  color: #FFFFFF;
}

.advantages {
  padding: 94px;
}

.advantages__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.advantages__details {
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
}

.advantages__details:not(:last-child) {
  margin-right: 30px;
}

.advantages__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
}

.advantages__svg {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  box-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-us {
  align-items: center;
  padding: 0px 15px 95px 15px;
}

.about-us__title {
  margin-bottom: 50px;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-us__img {
  display: flex;
  justify-content: space-between;
}

.about-us__block {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 27px;
}

.about-us__img-item {
  position: relative;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.about-us__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.our-team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team__list {
  display: flex;
  justify-content: space-between;
}

.our-team__item {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 4px 4px;
}

.our-team__profile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.our-team__nume {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team__job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}

.social__icon {
  fill: currentColor;
}

.my-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.my-client__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.my-client__list {
  display: flex;
  align-items: center;
}

.my-client__item {
  display: list-item;
  align-items: center;
  width: 170px;
  height: 92px;
}

.my-client__item:not(:last-child) {
  margin-right: 30px;
}

.my-client__link {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-client__link:hover, .my-client__link:focus {
  border: 1px solid var(--accent-color);
}

.my-client__link:hover .my-client__icon,
.my-client__link:focus .my-client__icon {
  fill: var(--accent-color);
}

.my-client__icon {
  align-items: center;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.footer {
  background: #2F303A;
  padding: 60px 0px;
}

.footer__container {
  display: inline-block;
  padding-left: 15px;
  padding-right: 0;
}

.footcontainer {
  display: flex;
}

.footer__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 60px;
  text-align: left;
}

.footer__logo-style {
  color: #2196F3;
}

.footer__logo-style-second {
  color: white;
}

.footer-address {
  list-style: none;
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-address__item {
  margin-bottom: 9px;
}

.footer-address__link {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: white;
}

.footer__icon {
  margin-left: 70px;
}

.footer__social-list {
  display: flex;
}

.icon-title {
  margin: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
}

.footer__list {
  margin-right: 10px;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.footer__social-icon:hover, .footer__social-icon:focus {
  fill: #ffffff;
  background: var(--accent-color);
}

.footer__list-icon {
  fill: currentColor;
}

.footer__form-box {
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.footer__social-title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__form {
  display: flex;
}

.footer__form-label:hover, .footer__form-label:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition: drop-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form-btn:hover, .footer__form-btn:focus {
  background: #188CE8;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: block;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms linear;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
  display: block;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  line-height: 1.8;
  font-size: 16px;
  font-weight: bold;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background: #188CE8;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-form-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: background-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/modal-icon/checkbox.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 13px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-label-link {
  color: var(--accent-color);
}

.hero-portfolio {
  padding: 94px 0;
}

.button__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button__item {
  margin-right: 8px;
}

.button__nume {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  background: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__nume:hover, .button__nume:focus {
  background: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.project__link {
  display: block;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.project__link:hover {
  box-shadow: var(--box-shadow-port);
}

.project__profile {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.project__nume {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.project__list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-white-colour);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);
}

.project__link:hover .overlay,
.project__link:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */