.about-us {
    align-items: center;
    padding: 0px 15px 95px 15px;
    
    }
    
    .about-us__title {
    margin-bottom: 50px;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    }
    .about-us__img {
    display: flex;
    justify-content: space-between;
    }
    
    .about-us__block {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 27px;
    }
    
    .about-us__img-item {
    position: relative;
    flex-basis: calc((100% - 120px) / 4);
    }
    
    .about-us__text {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    }